.talent-screen {
  padding-inline: 96px;

  .courses-section {
    margin-bottom: 120px;
    h2 {
      color: var(--dark, #1e1e2f);
      font-family: Space Grotesk;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 24px;
    }
    .courses-cards {
      margin-top: 40px;
      display: flex;
      gap: 40px;
      .card {
        padding: 40px 32px;
        border-radius: 24px;
        background: var(--very-lite-purple, #faf9ff);
        h3 {
          color: #000;
          font-family: Space Grotesk;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 100% */
          margin-block: 24px;
        }
        .chips {
          display: flex;
          flex-wrap: wrap;
          gap: 8px 11px;
          margin-bottom: 16px;
        }
        .chip {
          display: flex;
          padding: 2px 8px;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          background: var(--gray-100, #f2f4f7);
          color: var(--gray-700, #344054);
          text-align: center;
          font-family: Space Grotesk;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 150% */
        }
        .description {
          color: var(--344054, #344054);
          font-family: Space Grotesk;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 150% */
          margin-bottom: 32px;
        }
      }
      .button-group {
        display: flex;
        gap: 16px;
      }
    }
  }
  .recommended-jobs-section {
    margin-bottom: 120px;
    h2 {
      color: var(--dark, #1e1e2f);
      font-family: Space Grotesk;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 24px;
    }
    .cards {
      margin-top: 40px;
      display: flex;
      gap: 24px;
      margin-bottom: 16px;
      .card {
        padding: 40px 32px;
        border-radius: 24px;
        background: var(--very-lite-purple, #faf9ff);
        & > div:first-of-type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .svg-wrapper {
            height: 48px;
          }
          p {
            color: var(--text-secondry, #344054);
            text-align: right;
            font-family: Space Grotesk;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 100.9%; /* 12.108px */
          }
        }
        .job-title {
          color: #000;
          font-family: Space Grotesk;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 100% */
        }
        .chips {
          display: flex;
          flex-wrap: wrap;
          gap: 8px 11px;
          margin-block: 24px;
          .chip {
            color: var(--gray-700, #344054);
            text-align: center;
            font-family: Space Grotesk;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 150% */
            border-radius: 16px;
            background: var(--gray-100, #f2f4f7);
            padding-inline: 8px;
          }
        }
        .location-div {
          color: var(--dark, #1e1e2f);
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          div {
            display: flex;
            align-items: center;
            gap: 9px;
            color: var(--dark, #1e1e2f);
            font-family: Space Grotesk;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 200% */
          }
          svg {
            stroke: var(--dark, #1e1e2f);
            color: var(--dark, #1e1e2f);
            height: 12px;
          }
        }
        .buttons {
          display: flex;
          gap: 16px;
          .save-btn {
            margin-left: auto;
          }
        }
      }
    }
  }
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid var(--brand-colors-yellow, #feedcc);
    background: var(--brand-colors-yellow, #feedcc);
    padding: 60px;
    margin-bottom: 120px;
    h1 {
      color: var(--dark, #1e1e2f);
      font-family: Space Grotesk;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 114.5%; /* 54.96px */
      margin-bottom: 16px;
    }
    p {
      color: var(--dark-2, #344054);
      font-family: Space Grotesk;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
    }
  }
  .talent-at-work {
    margin-bottom: 120px;
    text-align: center;
    h2 {
      color: var(--text-secondry, #344054);
      font-family: Space Grotesk;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 60px;
    }
    .imges {
      display: flex;
      gap: 24px;
    }
  }
}
