.new-roles-section {
  display: flex;
  padding: 60px;
  border-radius: 36px;
  background: var(--brand-colors-peach, #fbad84);
  margin-bottom: 106px;
  & > div:first-of-type {
    flex-basis: 60%;
    gap: 64px;
    h2 {
      color: var(--dark-1, #1e1e2f);
      font-family: Space Grotesk;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 100.9%; /* 64.576px */
      margin-bottom: 40px;
    }
    p {
      color: var(--dark-1, #1e1e2f);
      font-family: Space Grotesk;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100.9%; /* 24.216px */
      margin-bottom: 52px;
    }
    input {
      padding: 15px 18px;
      border-radius: 36px;
      border: 1px solid var(--dark-1, #1e1e2f);
    }
    .input-and-button {
      display: flex;
      gap: 34px;
    }
  }
}
